<!--Title of Home page-->
<title>CLOU Home</title>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<!--<link rel="stylesheet" type="text/css" href="/css/products.css">-->
<body>
    <div class="product-show">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
    
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% i = 1 %>
          <% @popproducts.each do |product| %>
            <% if i == 1%>
              <a class="item active" style="background:url('<%= product.image%>');" href="pop_product/<%= product.id%>">
                
              </a>
            <%else%>
      
              <a class="item" style="background:url('<%= product.image%>');" href="pop_product/<%= product.id%>">

                

              </a>
            <%end%>
            <%i+=1%>
          <%end%>
      
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    
    <div class="news contain">
        <div class="news-container">
            <div class="news-nav">
                <h2>新闻中心</h2>
                <a href="/mainframe/news" class="allnews">查看所有新闻</a>
                <!--<a class="newsbright" id="newsnext" title="left"></a>-->
                <!--<a class="newsbleft disabled" id="newsprev" title="right"></a>-->
            </div>               

            <hr style="top:20px;">
            <ul class="indexnews current" id='1'>
                <% @company_news.each do |news|%>
                <li>
                    <div class="special-img-two" style="background: url(<%= news.image%>);"></div>
                    <%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%>
                    <p class="special-p"><%= news.description%></p>
                </li>
                <%end%>

            </ul>
            
        </div>
    </div>
    
<div class="allcategory contain">
    <h4>全部车型</h4>
    <!--<p class="hotline">产品咨询热线 0755-36901041</p>-->
    <br>
    <hr>
    <!--load db 的category into cell 有几个load 几个 需要图片和名字，-->
    
    <% @case_types.each do |category| %>
      
      <div class="cell">
        <div class="categoryimg" style="background: url(<%= category.image%>);"></div>
        <%= link_to category.name, case_type_path(category.id) %>
      </div>
    <%end%>
</div>
    
    
    
    

    

</body>

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        if(window.document.getElementById("main-banner") != null) {-->
<!--            var current = $('.indexnews.current');-->
<!--             <% if @company_news != nil%>-->
<!--                var page_counter = 1;-->
<!--                var single_page_counter = 0;-->
<!--                var newsplace = $('.news-container');-->
<!--                <% @company_news.each do |news| %>-->
<!--                    if (single_page_counter < 4 && page_counter == 1) {-->
<!--                        current.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');-->
<!--                        single_page_counter+=1;-->
<!--                    } else if (single_page_counter == 4 && page_counter >= 1) {-->
<!--                        page_counter += 1;-->
<!--                        var ul = $("<ul>", { -->
<!--                          'class': 'indexnews next', -->
<!--                          'id': page_counter }-->
<!--                          ).appendTo(newsplace);-->
<!--                        ul.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');-->
<!--                        single_page_counter = 1;-->
<!--                    } else {-->
<!--                        var next = $('#'+page_counter.toString());-->
<!--                        next.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');-->
<!--                        single_page_counter += 1;-->
<!--                    }-->
<!--                <%end%>-->
<!--             <%end%>-->
<!--        }-->
<!--    })-->
    
<!--</script>-->