<!DOCTYPE html>
<html>
<head>
  <title>浩迪比亚迪</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  <%if @product and @product.seo_title and @product.seo_title != ''%>
    <meta name="keywords" content="<%= @product.seo_title%>--深圳浩迪比亚迪">
  <%else%>
    <meta name="keywords" content="深圳浩迪比亚迪">
  <%end%>
  <%if @product and @product.seo_word and @product.seo_word != ''%>
    <meta name="Description" content="<%= @product.seo_word%>--深圳浩迪比亚迪">
  <%else%>
    <meta name="Description" content="深圳市浩迪比亚迪">
  <%end%>
  
  <!--<link rel="shortcut icon" href="/img/homepage/icon.png" />-->
  <link rel="shortcut icon" href="/img/homepage/favicon.ico">
  <!--Bootstrap CSS-->

  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!--Navbar CSS File-->
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">


  <script type="text/javascript">
 //now on button click
 $(document).ready(function(){
    $('.login-link').on('click', function(){

    $('#login').modal("show");
    $('#login').removeClass('hide');
   });
});

  </script>

</head>
<body>
  <%= render "layouts/login_modal" %>

<!--This is for devise gem-->
<p class="notice"></p>
<p class="alert"></p>

<!--Create the login button to allow user to sign in -->

<div class="top">


    <p class="welcomewords">
    欢迎来到深圳浩迪比亚迪
  </p>
  
  <!--<a href="/" class="language_link" style="color: #c4261d;">CN&nbsp;</a>-->
</div>
<hr>

<nav id="navbar" class="navbar">
  <div class = "logo">
        <a href="/">
            <img border="0" alt="logo" src="/img/homepage/logo.png" class="logoImg">
            <!--<div id="theImage" class="theImage"></div>-->
        </a>
  </div>
  <span class="links">
    <a id="home" href="/">首页</a>
   

  </span>
  
  <div class="mobile-nav">
    <button type = "button" class = "navbar-toggle" 
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
  </div>
  
  
  <hr class="downhr" style="top: 87px;">
      
</nav>

<div class="mobile-links links">
    
    <button type="button" class="close close-navbar"><span aria-hidden="true" style="font-size: 60px;margin-right: 20px;top: -100px;position:relative;">&times;</span></button>
    <a class="mobile-link" id="home" href="/">首页</a>

</div>


<%= yield %>


  <div class="colorchange">
    
  </div>
  
    <div class="copyright">
     <span class="useless-container">
        <a href="/contact_us" class="useless">联系我们</a>
        |
        <a href="/sitemap" class="useless">网站地图</a>
        |
        <a href="/copyright" class="useless">版权声明</a>
        
     </span>
         版权所有 Copyright © 2013 深圳市科陆电子科技股份有限公司 粤ICP备12023818号
    </div>



</footer>


</body>
</html>